.row {
  margin-left: 10px;
}
.row__container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
}
.row__title {
  margin: 5px 10px;
  color: #fff;
}

.row__poster {
  max-height: 100px;
  padding: 8px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
  transition: transform 450ms;
}
.row__posterLarge {
  max-height: 250px;
  padding: 8px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
  transition: transform 450ms;
  width: 100%;
}
.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__icons {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.row__icons > .MuiIcons-root {
  color: #fff !important;
}

.row__container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.row__container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
